# TO BE COPIED TO /etc/systemd/system/
[Unit]
Description=Bakery service for monitoring bakes.

[Service]
# Type=simple is implicit
User=root
ExecStart=/usr/bin/python3 /root/bakery/run --log2file

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
